html,
body {
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(31, 28, 28);
    margin: 0;
    overflow: hidden;
}

canvas {
    position: absolute;
    /* left: 7px; */
    top: 0px;
}

iframe {
    position: absolute;
    z-index: 1000;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    height: 100%;
    background-color: rgb(31, 28, 28);
}